{% extends "base_template.html" %}

{% block title %}
    <title>AbcDoSaber - Atualizar Título</title>
{% endblock %}

{% block menu %} 
<div class="collapse navbar-collapse justify-content-end" id="mynavbar">
                <div class="navbar-nav">
                    <a href="/" class="nav-link">Início</a>
                    <a href="{% url 'titulo:cadastro' %}" class="nav-link">Cadastrar</a>
                    <a href="{% url 'titulo:listar' %}" class="nav-link">Listar</a>
                </div>
            </div>    
{% endblock %}            

{% block titulo_pagina %}
{% endblock %}

{% block corpo %}
<main class="container m-2 w-75 mx-auto">
        <form action="{% url 'titulo:atualizar' %}" method="POST" name="frmAtualizarTitulo" id="idFrmAtualizarTitulo">
              class
            {% csrf_token %}

            <div class="form-group">
                <label for='idCodigo' class="form-label">Código do Título</label>
                <input class="form-control" type='text' id='idCodigo' name='codigo' value="{{ titulo.codigo }}" readonly>

            <div class="form-group">
                <label for='idDescricao' class="form-label">Descrição</label>
                <input class="form-control" type='text' id='idDescricao' name='descricao' value="{{ titulo.descricao }}" placeholder='Informe a descrição' maxlength="70" required>
            </div>

            <div class='form-group text-center'>
                <input type='reset'  value='Limpar' class='btn btn-primary btn-md'>
                <input type='submit' value='Atualizar' class='btn btn-primary btn-md' id="btnAtualizarTitulo">
            </div>
        </form>
    </main>
{% endblock %}
