{% extends "base_template.html" %}

{% block title %}
    <title>AbcDoSaber - Cadastrar_Turma</title>
{% endblock %}

{% block menu %} 
<div class="collapse navbar-collapse justify-content-end" id="mynavbar">
                <div class="navbar-nav">
                    <a href="/" class="nav-link">Início</a>
                    <a href="{% url 'turma:cadastro' %}" class="nav-link">Cadastrar</a>
                    <a href="{% url 'turma:listar' %}" class="nav-link">Listar</a>
                    <a href="{% url 'turma:registro_ausencia' %}" class="nav-link">Registrar Ausência</a>
                </div>
            </div>
{% endblock %}            


{% block titulo_pagina %}
{% endblock %}

{% block corpo %}
    <main class="container m-2 w-75 mx-auto my-font-family">

        <div class="row">
            <div class="col text-center m-0">
                <h2 class="mt-2 mb-5 my-h2">Cadastro de Turmas</h2>
            </div>
        </div>

        <!-- formulario HTML -->
        <form name="frmCadastrarTurma" action="{% url 'turma:cadastrar' %}" method="post" class="my-label-color-purple">

            {% csrf_token %}
            
            <div class="form-group">
                <label for="idHorarioAula" class="col-form-label">Horário da Aula</label>
                <input class="form-control" type="time" id="idHorarioAula" name="horarioAula" required>
            </div>

            <div class="form-group">
                <label for='idDuracaoAula'>Duração da Aula em horas</label>
                <input class="form-control" type='number' id='idDuracaoAula' name='duracaoAula' required>
            </div>

            <div class="form-group">
                <label for='idDataInicial'>Data de Início</label>
                <input class="form-control" type='date' id='idDataInicial' name='dataInicial' required>
            </div>

            <!-- montagem do combo com os tipos de atividade -->
            <div class="form-group">
                <label for="idTipoAtividade">Tipo de Atividade</label>
                <select class="form-control" id="idTipoAtividade" name="tipoAtividade">
                    <option value="0">Selecione...</option>
                    <option value="1">Programador Web</option>
                    <option value="2">Técnico em Informática</option>
                    <option value="3">Web Designer</option>
                    <option value="4">Educação Física</option>

                </select>
            </div>


            <!-- montagem do combo com os instrutores -->
            <div class="form-group">
                <label for="idInstrutor">Instrutor</label>
                <select class="form-control" id="idInstrutor" name="idInstrutor">
                    <option value="0">Selecione...</option>
                    <option value="2">Maria Joaquina</option>
                    <option value="3">Juliana Fergusson</option>
                </select>
            </div>

            <!-- montagem do combo com os alunos -->
            <div class="form-group">
                <label for="idAluno">Aluno Monitor</label>
                <select class="form-control" id="idAluno" name="matriculaAlunoMonitor">
                    <option value="0">Selecione...</option>
                    <option value="1">Marcos Ferreira</option>
                    <option value="2">José Mauro</option>
                    <option value="3">Hian Ferreira</option>
                    <option value="4">Pedro Miranda</option>
                    <option value="5">Stephanie Negri</option>
                    <option value="6">Carlos Alexandre</option>
                    <option value="7">Felipe Gomes</option>
                </select>
            </div>

            <div class="form-group my-4 text-center">
                <input type="reset" value="Limpar" class="btn btn-primary btn-md">
                <input type="submit" value="Cadastrar" class="btn btn-primary btn-md">
            </div>

        </form>

    </main>
{% endblock %}
