{% extends "base_template.html" %}

{% block title %}
    <title>AbcDoSaber - Pagina_em_Construção</title>
{% endblock %}

{% block menu %} 
<div class="collapse navbar-collapse justify-content-end" id="mynavbar">
              <div class="navbar-nav">
                  <a href="/" class="nav-link">Início</a>
                  <a href="{% url 'turma:cadastro' %}" class="nav-link">Cadastrar</a>
                  <a href="{% url 'turma:listar' %}" class="nav-link">Listar</a>
              </div>
          </div> 
{% endblock %}            

{% block titulo_pagina %}
{% endblock %}

{% block corpo %}
<main class="container m-2 w-75 mx-auto my-font-family text-center">

      <div class="row w-50 my-4 mx-auto">

          <div class="col">
            <img src="../img/paginaemconstrucao.jpg" class="rounded img-fluid">
          </div>

      </div>

    </main>
{% endblock %}