{% extends "base_template.html" %}

{% block title %}
    <title>AbcDoSaber - Listar_Instrutores</title>
{% endblock %}

{% block menu %}
<div class="collapse navbar-collapse justify-content-end" id="mynavbar">
                <div class="navbar-nav">
                    <a href="/" class="nav-link">Início</a>
                    <a href="{% url 'instrutor:cadastro' %}" class="nav-link">Cadastrar</a>
                    <a href="{% url 'instrutor:listar' %}" class="nav-link">Listar</a>
                </div>
            </div>
{% endblock %}            


{% block titulo_pagina %}
{% endblock %}

{% block corpo %}
<main class="container m-2 mx-auto my-font-family">

        <div class="row">
            <div class="col text-center m-0">
                <h2 class="mt-2 mb-5 my-h2">Lista de Instrutores</h2>
            </div>
        </div>

        <!-- tabela responsiva -->
        {% if instrutores %}
        <div class="table-responsive">

            <!-- classes para tabela (Bootstrap) , tabela sem borda, conteudo alinhado ao centro, ... , width: auto -->
            <table class="table
                        table-borderless
                        text-center
                        my-table-hover
                        my-table-image
                        my-table-td-first-child
                        my-table-border-bottom
                        my-table-th
                        w-100">

                <!-- cabecalho -->
                <thead>
                    <!-- linhas -->
                    <tr>
                        <!-- colunas cabecalho -->
                        <th>Id</th>
                        <th>Nome</th>
                        <th>RG</th>
                        <th>Data Nascimento</th>
                        <th>DDD</th>
                        <th>Telefone</th>
                        <th>Titularidade</th>
                    </tr>
                </thead>

                <!-- linhas -->
                {% for instrutor in instrutores %}
                <tr>
                    <td>{{instrutor.id}}</td>
                    <td>{{instrutor.nome}}</td>
                    <td>{{instrutor.rg}}</td>
                    <td>{{instrutor.dataNascimento}}</td>
                    <td>{{instrutor.ddd}}</td>
                    <td>{{instrutor.telefone}}</td>
                    <td>{{instrutor.codigo_titulo}}</td>
                    <td>
                            <a href="#" class="btn btn-mini"><i class="far fa-edit"></i></a>
                            <button type="button" class="btn" role="button" data-target="#modalExcluirInstrutor"
                                data-toggle="modal" data-descricao="{{instrutor.nome}}" 
                                data-url="{% url 'instrutor:excluir' instrutor.id %}">
                                
                                <i class="far fa-trash-alt"></i>
                            </button>
                        </td>
                    
                </tr>
                {% endfor %}
            </table>

        </div>
        {% else %}
        <div class="text-danger text-center">
            <p>Não há instrutores cadastrados.</p>
        </div>
        {% endif %}
        

    </main>
<!-- Modais -->
    <div class="modal fade" id="modalExcluirInstrutor" role="dialog" aria-labelledby="Confirmação" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Confirmação</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <p id="mensagemExclusao"></p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="btnExcluir">Excluir</button>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block javascript_complementar %}
    <!-- Prepara o modal com os dados da imagem do titulo a ser excluido -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#modalExcluirInstrutor').on('show.bs.modal', function(event) {
                var descricao = $(event.relatedTarget).data('descricao');
                var urlExcluir = $(event.relatedTarget).data('url');
                $("#mensagemExclusao").text("Instrutor [  " + descricao + "  ]?");

                $.fn.excluirInstrutor = function() {
                    var url = $(event.relatedTarget).data('url');
                    location.replace(url);
                }
            });
        
            $("#btnExcluir").on('click', function() {
                $.fn.excluirInstrutor();
                return false;
            });            
        });
    </script>
{% endblock javascript_complementar %}


