{% extends "base_template.html" %}

{% block title %}
    <title>AbcDoSaber - Listar_Instrutores</title>
{% endblock %}

{% block menu %}
<div class="collapse navbar-collapse justify-content-end" id="mynavbar">
                <div class="navbar-nav">
                    <a href="/" class="nav-link">Início</a>
                    <a href="{% url 'instrutor:cadastro' %}" class="nav-link">Cadastrar</a>
                    <a href="{% url 'instrutor:listar' %}" class="nav-link">Listar</a>
                </div>
            </div>
{% endblock %}            


{% block titulo_pagina %}
{% endblock %}

{% block corpo %}
<main class="container m-2 mx-auto my-font-family">

        <div class="row">
            <div class="col text-center m-0">
                <h2 class="mt-2 mb-5 my-h2">Lista de Instrutores</h2>
            </div>
        </div>

        <!-- tabela responsiva -->
        {% if instrutores %}
        <div class="table-responsive">

            <!-- classes para tabela (Bootstrap) , tabela sem borda, conteudo alinhado ao centro, ... , width: auto -->
            <table class="table
                        table-borderless
                        text-center
                        my-table-hover
                        my-table-image
                        my-table-td-first-child
                        my-table-border-bottom
                        my-table-th
                        w-100">

                <!-- cabecalho -->
                <thead>
                    <!-- linhas -->
                    <tr>
                        <!-- colunas cabecalho -->
                        <th>Id</th>
                        <th>Nome</th>
                        <th>RG</th>
                        <th>Data Nascimento</th>
                        <th>DDD</th>
                        <th>Telefone</th>
                        <th>Titularidade</th>
                    </tr>
                </thead>

                <!-- linhas -->
                {% for instrutor in instrutores %}
                <tr>
                    <td>{{instrutor.id}}</td>
                    <td>{{instrutor.nome}}</td>
                    <td>{{instrutor.rg}}</td>
                    <td>{{instrutor.dataNascimento}}</td>
                    <td>{{instrutor.ddd}}</td>
                    <td>{{instrutor.telefone}}</td>
                    <td>{{instrutor.codigo_titulo}}</td>
                    
                </tr>
                {% endfor %}
            </table>

        </div>
        {% else %}
        <div class="text-danger text-center">
            <p>Não há instrutores cadastrados.</p>
        </div>
        {% endif %}
        

    </main>
{% endblock %}
