{% extends "base_template.html" %}

{% block title %}
    <title>AbcDoSaber - Listar_Instrutores</title>
{% endblock %}

{% block menu %}
<div class="collapse navbar-collapse justify-content-end" id="mynavbar">
                <div class="navbar-nav">
                    <a href="/" class="nav-link">Início</a>
                    <a href="{% url 'instrutor:cadastro' %}" class="nav-link">Cadastrar</a>
                    <a href="{% url 'instrutor:listar' %}" class="nav-link">Listar</a>
                </div>
            </div>
{% endblock %}            


{% block titulo_pagina %}
{% endblock %}

{% block corpo %}
<main class="container m-2 mx-auto my-font-family">

        <div class="row">
            <div class="col text-center m-0">
                <h2 class="mt-2 mb-5 my-h2">Lista de Instrutores</h2>
            </div>
        </div>

        <!-- tabela responsiva -->
        <div class="table-responsive">

            <!-- classes para tabela (Bootstrap) , tabela sem borda, conteudo alinhado ao centro, ... , width: auto -->
            <table class="table
                        table-borderless
                        text-center
                        my-table-hover
                        my-table-image
                        my-table-td-first-child
                        my-table-border-bottom
                        my-table-th
                        w-100">

                <!-- cabecalho -->
                <thead>
                    <!-- linhas -->
                    <tr>
                        <!-- colunas cabecalho -->
                        <th>Id</th>
                        <th>Nome</th>
                        <th>RG</th>
                        <th>Data Nascimento</th>
                        <th>DDD</th>
                        <th>Telefone</th>
                        <th>Titularidade</th>
                    </tr>
                </thead>

                <!-- linhas -->
                <tr>
                    <td> 1 </td>
                    <td> Jefferson Gonçalves </td>
                    <td> 099998888 </td>
                    <td> 05/10/1978 </td>
                    <td> 021 </td>
                    <td> 897698512 </td>
                    <td> Professor Doutor </td>
                </tr>
                <tr>
                    <td> 2 </td>
                    <td> Maria Joaquina </td>
                    <td> 125487966 </td>
                    <td> 10/01/1987 </td>
                    <td> 021 </td>
                    <td> 12322211 </td>
                    <td> Professor Doutor </td>
                </tr>
                <tr>
                    <td> 3 </td>
                    <td> Juliana Fergusson </td>
                    <td> 874895692 </td>
                    <td> 15/11/1968 </td>
                    <td> 022 </td>
                    <td> 87474774 </td>
                    <td> Professor Sabe-Tudo </td>
                </tr>
            </table>

        </div>

    </main>
{% endblock %}
