{% extends "base_template.html" %}

{% block title %}
    <title>AbcDoSaber - Cadastro_Aluno</title>
{% endblock %}

{% block menu %}
<div class="collapse navbar-collapse justify-content-end" id="mynavbar">
                <div class="navbar-nav">
                    <a href="/" class="nav-link">Início</a>
                    <a href="{% url 'aluno:cadastro' %}" class="nav-link">Cadastrar</a>
                    <a href="{% url 'aluno:listar' %}" class="nav-link">Listar</a>
                </div>
            </div>
{% endblock %}            


{% block titulo_pagina %}
{% endblock %}

{% block corpo %}
  <main class="container m-2 w-75 mx-auto">
        <form action="#" method="POST" name="frmCadastrarAluno" id="idFrmCadastrarAluno">
            <div class="form-group">
                <label for='idNome'>Nome</label>
                <input class="form-control" type='text' id='idNome' name='nome' placeholder='Informe o nome do aluno' required>
            </div>
            <div class="form-group">
                <label for='idDataInicial'>Data de Início na Escola</label>
                <input class="form-control" type='date' id='idDataInicial' name='dataInicial' required>
            </div>
            <div class='form-group text-center'>
                <input type='reset'  value='Limpar' class='btn btn-primary btn-md'>
                <input type='submit' value='Cadastrar' class='btn btn-primary btn-md' id="btnCadastrarTiposAtividade">
            </div>
        </form>
    </main>
{% endblock %}
