{% extends "base_template.html" %}

{% block title %}
    <title>AbcDoSaber - Listar_Tipos_de_Atividade</title>
{% endblock %}

{% block menu %}
<div class="collapse navbar-collapse justify-content-end" id="mynavbar">
                <div class="navbar-nav">
                    <a href="/" class="nav-link">Início</a>
                    <a href="{% url 'tipodeatividade:cadastro' %}" class="nav-link">Cadastrar</a>
                    <a href="{% url 'tipodeatividade:listar' %}" class="nav-link">Listar</a>
                </div>
            </div>
{% endblock %}            


{% block titulo_pagina %}
{% endblock %}

{% block corpo %} 
<main class="container m-2 mx-auto my-font-family">

        <div class="row">
            <div class="col text-center m-0">
                <h2 class="mt-2 mb-5 my-h2">Lista de Tipos de Atividade</h2>
            </div>
        </div>

        <!-- tabela responsiva -->
         {% if tipodeatividade %}
        <div class="table-responsive">

            <!-- classes para tabela (Bootstrap) , tabela sem borda, conteudo alinhado ao centro, ... , width: auto -->
            <table class="table
                        table-borderless
                        text-center
                        my-table-hover
                        my-table-image
                        my-table-td-first-child
                        my-table-border-bottom
                        my-table-th
                        w-100">

                <!-- cabecalho -->
                <thead>
                    <!-- linhas -->
                    <tr>
                        <!-- colunas cabecalho -->
                        <th>Código</th>
                        <th>Descrição</th>
                    </tr>
                </thead>

                <!-- linhas -->
                {% for tipodeatividades in tipodeatividade %}
                 <tr>
                     <td> {{ tipodeatividades.codigo }} </td>
                     <td> {{ tipodeatividades.descricao }} </td>
                     <td>
                            <a href="#" class="btn btn-mini"><i class="far fa-edit"></i></a>
                            <button type="button" class="btn" role="button" data-target="#modalExcluirTipodeatividade"
                                data-toggle="modal" data-descricao="{{tipodeatividades.descricao}}" 
                                data-url="{% url 'tipodeatividade:excluir' tipodeatividades.codigo %}">
                                
                                <i class="far fa-trash-alt"></i>
                            </button>
                        </td>
                 </tr>
                {% endfor %}

                
            </table>

        </div>
        {% else %}
        <div class="text-danger text-center">
            <p>Não há tipos de atividade cadastrados.</p>
        </div>
        {% endif %}

    </main>
<!-- Modais -->
    <div class="modal fade" id="modalExcluirTipodeatividade" role="dialog" aria-labelledby="Confirmação" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Confirmação</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <p id="mensagemExclusao"></p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="btnExcluir">Excluir</button>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block javascript_complementar %}
    <!-- Prepara o modal com os dados da imagem do titulo a ser excluido -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#modalExcluirTipodeatividade').on('show.bs.modal', function(event) {
                var descricao = $(event.relatedTarget).data('descricao');
                var urlExcluir = $(event.relatedTarget).data('url');
                $("#mensagemExclusao").text("Tipodeatividade [  " + descricao + "  ]?");

                $.fn.excluirTipodeatividade = function() {
                    var url = $(event.relatedTarget).data('url');
                    location.replace(url);
                }
            });
        
            $("#btnExcluir").on('click', function() {
                $.fn.excluirTipodeatividade();
                return false;
            });            
        });
    </script>
{% endblock javascript_complementar %}

