{% extends "base_template.html" %}

{% block title %}
    <title>Django - Exercícios</title>
{% endblock %}

{% block menu %}     
            <div class="collapse navbar-collapse justify-content-end" id="mynavbar">
                <div class="navbar-nav">
                    <a href="/" class="nav-link">Início</a>
                    <a href="{% url 'tipodeatividade:listar' %}" class="nav-link">Tipos de Atividade</a>
                    <a href="{% url 'titulo:listar' %}" class="nav-link">Títulos</a>
                    <a href="{% url 'aluno:cadastro' %}" class="nav-link">Alunos</a>
                    <a href="{% url 'instrutor:listar' %}" class="nav-link">Instrutores</a>
                    <a href="{% url 'turma:cadastro' %}" class="nav-link">Turmas</a>
                    <a href="{% url 'contato:cadastro' %}" class="nav-link">Contato</a>
                </div>
            </div>
{% endblock %}            
        
{% block titulo_pagina %}
        <div class="container text-center">
            <div class="jumbotron mt-5">
                <h1 class="display-4">Escola ABC do Saber</h1>
            </div>
        </div>
{% endblock %}



  