{% extends "base_template.html" %}

{% block title %}
    <title>AbcDoSaber - Titulo</title>
{% endblock %}

{% block menu %}     
            <div class="collapse navbar-collapse justify-content-end" id="mynavbar">
                <div class="navbar-nav">
                    <a href="../escola.html" class="nav-link">Início</a>
                    <a href="cadastroTitulos.html" class="nav-link">Cadastrar</a>
                    <a href="listarTitulos.html" class="nav-link">Listar</a>
                </div>
            </div>
{% endblock %}            

{% block titulo_pagina %}
{% endblock %}

{% block corpo %}
   <main class="container m-2 mx-auto my-font-family">

        <div class="row">
            <div class="col text-center m-0">
                <h2 class="mt-2 mb-5 my-h2">Lista de Títulos</h2>
            </div>
        </div>

        <!-- tabela responsiva -->
        <div class="table-responsive">

            <!-- classes para tabela (Bootstrap) , tabela sem borda, conteudo alinhado ao centro, ... , width: auto -->
            <table class="table
                        table-borderless
                        text-center
                        my-table-hover
                        my-table-image
                        my-table-td-first-child
                        my-table-border-bottom
                        my-table-th
                        w-100">

                <!-- cabecalho -->
                <thead>
                    <!-- linhas -->
                    <tr>
                        <!-- colunas cabecalho -->
                        <th>Código</th>
                        <th>Descrição</th>
                    </tr>
                </thead>

                <!-- linhas -->
                <tr>
                    <td> 1 </td>
                    <td> Professor Doutor </td>
                </tr>
                <tr>
                    <td> 2 </td>
                    <td> Professor Sabe-Tudo </td>
                </tr>
                <tr>
                    <td> 3 </td>
                    <td> Professor Estagiário </td>
                </tr>

            </table>

        </div>

    </main>
{% endblock %}

